
.productContainer {
  width: 250px;
  border: 1px solid rgb(209, 207, 207);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

  .productTitle {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      color: rgb(42, 42, 129);
    }
  }

  .imageContainer {
    width: full;
    display: flex;
    flex: 1;
    justify-content: center;

    .productImage {
      margin: 20px 0;
    }
  }

  .ratingContainer {
    width: full;
    display: flex;
    align-items: center;

    .rateCount{
      font-size: 13px;
      font-style: italic;
      margin-left: 4px;
      color: rgb(87, 87, 87);
    }
  }
  .prpductPriceContainer {
    display: flex;
    
    .productPrice {
      display: flex;
      flex: 1;
      align-items: center;
      margin-top: 10px;
      font-size: 14pt;
      font-weight: bold;
    }
    .addToCartButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid rgb(225, 224, 224);
      cursor: pointer;

      &:hover {
        background-color: #d1d1d1;
      }

      .addToCartIcon {
        width: 25px;
        height: 25px;
        color: rgb(37, 37, 37);
      }
    }
  }

}

