.buttonDark {
  padding: 12px 20px;
  cursor: pointer;
  background-color: rgb(71, 71, 71);
  color: #fff;
  border: 0;
  border-radius: 5px;

  &:hover {
    background-color: #696868;
  }
}

.buttonLight {
  padding: 12px 20px;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  border-radius: 5px;

  &:hover {
    background-color: #c1c1c1;
  }
}