
.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background-color: var(--color-background);
  height: 100svh;
  padding: 0;
  margin: 0;
  padding-top: 70px;

  .productsContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    flex: 1;
    padding: 2rem;
    flex-wrap: wrap,
  }

  .paginationContainer {
    width: 100%;
    padding-bottom: 50px;
  }
}