.centerAlignedFlexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButtonContainer {
  @extend .centerAlignedFlexBox;
  width: 105px;

  .decrementButton{ 
    width: 30px;
    height: 35px; 
    border: 1px solid #979797;
    border-radius: 5px 0 0 5px;
    font-size: 15pt;
    cursor: pointer;
  }

  .amountOfProduct {
    @extend .centerAlignedFlexBox;
    width: 35px;
    height: 35px;
    border: 1px solid #979797;
    border-radius: 0;
    border-left: none;
    border-right: none;
    padding: 0;
    align-items: center;
  }

  .incrementButton{
    @extend .decrementButton;
    border-radius: 0 5px 5px 0;
  }
}